body {
    background-image: url(http://eskipaper.com/images/sparkles-wallpaper-3.jpg); no-repeat; 
}



.row {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    color: palevioletred; 

}
    
.crystals {
    text-align: center;
    margin-bottom: 50px;  
    background-color: lightgrey;
  width: 1000px;
  border: 10px solid;
  padding: 5px;
  margin-left: 110px;
  
}

.targetNumber {
    font-family: fantasy;

}

.currentScore {
    font-family: fantasy;
    font-style: italic; 
    color: antiquewhite;
    text-align: center;
    
}

.winsAndLosses {
    font-family: fantasy;
}
