body {
    background-image: url("https://images.unsplash.com/photo-1550951768-de2b75a3fc01?ixlib=rb-1.2.1&auto=format&fit=crop&w=1647&q=80"); no-repeat; 
}



.row {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    color: palevioletred; 

}
    
.crystals {
    text-align: center;
    margin-bottom: 50px;  
    background-color: lightgrey;
  width: 1000px;
  border: 10px solid;
  padding: 5px;
  margin-left: 110px;
  
}

.targetNumber {
    font-family: fantasy;

}

.currentScore {
    font-family: fantasy;
    font-style: italic; 
    color: antiquewhite;
    text-align: center;
    
}

.winsAndLosses {
    font-family: fantasy;
}
